@import "variables";

@mixin section () {
    padding-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

nav {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    color: $gray;

    h1 {
        text-transform: uppercase;
        font-size: 1.1em;
        letter-spacing: 0.1em;
        display: inline;
        font-family: $navFonts;
    }

    ul {
        float: right;
    }

    li {
        display: inline-block;
    }

    i {
        padding-left: 10px;
        padding-right: 10px;
    }

    a {
        color: $black;
    }

    a:hover {
        color: $darkgray;
    }

}

.contenedor {
    @include section;
    
    .contenedor-img {
        height: 300px;
    }

    img {
        width: 100%;
    }
    
    .info {
        padding-top: 10px;
        padding-left: 10px;
    }
    
    .precio {
        text-align: center;
        letter-spacing: 0.2em;
        font-size: 1.5em;
    }

}

#cartModal {
    width: 96%;

    .total {
        font-weight: bold;
        font-size: 1.2em;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 480px) {

    body {
        background: url('../img/bg.jpg') no-repeat fixed center / cover;
    }

    main {
        padding: 50px;
    }

    nav {
        margin-bottom: 0;

        h1 {
            padding-top: 5px;
        }
    
         li {
            text-transform: uppercase;
        }
    }

    .contenedor{
        padding: 20px;

        .info {
            background-color: $bgInfo;
            color: $lightgray;

            h4 {
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .descripcion {
                font-weight: lighter;
                font-size: 0.9em;
                letter-spacing: 0.1em;
            }

            .precio {
                font-size: 2em;
                letter-spacing: 0.4em;
                padding-bottom: 20px;
            }

        }
    
    }

    .modal-content {
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }



}